html {
    scroll-behavior: smooth;
  }
  
.gif {
    width: 30%;
    place-items: left;
}

.exampleIMG {
    width: 300px;
}

.download_link {
    float: right;
    margin-right: 5px;
}
a.download_link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nextbacklink {
  display: inline-block;
  margin: 10px;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    width: 80%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
}

#myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 10px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(47, 46, 46); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    text-decoration: none;
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

footer {
  background-color: #f2f2f2;
  text-align: center;
}

footer p {
    margin: 0;
}

footer a {
    color: #333;
    text-decoration: none;
}

a {
  display: block;
  color: #007BFF;
  text-decoration: none;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #007BFF;
  color: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h1 {
  font-size: 2.5em;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  border-color: rgb(45, 45, 45);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
select {
  width: 200px;
  height: 35px;
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #f8f8f8; /* Add this line */
}